{% extends "samples/base.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% if 'patients' in request.path %}
{% block homeBlock %}
    <li>
{% endblock %}
{% block dataBlock %}
    <li class="dropdown active">
{% endblock %}
{% endif %}

{% block headContent %}
    <link rel="stylesheet" type="text/css" href = "{% static 'samples/style.css'%} " />
{% endblock %}

{% block content %}
{% if group_samples %}
<div class="container">
<div class="row">
<!--<div class="col-md-2">
</div>-->
<div class="col-md-12">
<div class="panel panel-default">
  <!-- Default panel contents -->
  {% if 'patients' in request.path %}
  <div class="panel-heading">Current samples for {{ patient }}</div>
  {% elif 'pendingsamples' in request.path %}
  <div class="panel-heading">Samples ready for resulting</div>
  {% else %}
  <div class="panel-heading">Current samples for {{user.username}}</div>
  {% endif %}
  <div class="panel-body">
    {% if 'pendingsamples' not in request.path %}
	<a href="{% url 'samples:patientshome' %}" id="returntopatients">Return to Patients Listing</a>
	<p id="addbutton"><a href="{% url 'samples:create-patient' %}">
						<button type="button" class="btn btn-success">Add Patient <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
					  <a href="{% url 'samples:add' 11 %}">
						<button type="button" class="btn btn-primary">Add Sample <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
     </p>
	 {% endif %}
  </div>
{% if group_id != 3 %}
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Sample ID</th>
<th>Sample DOB</th>
<th>Collection Date</th>
<th>Sex</th>
<th>Status</th>
</tr>
</thead>
<tbody>
{% for sample in group_samples %}
<tr>	
	<td>{{sample.id}}</td>
	<td>{{sample.patient.patient_dob}}</td>
	<td>{{sample.date_of_sample_collection}}</td>
	
	<td>{{sample.patient.patient_sex}}</td>
	<td>{{sample.sample_status}}</td>
	<td><a href="/samples/{{sample.link}}">{{sample.link_text}}</a></td>
</tr>	
{% endfor %}
</tbody>
</table> 
</div>
{% endif %}
{% if group_id == 3 %}
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Sample ID</th>
<th>Test Site</th>
<th>Sample DOB</th>
<th>Collection Date</th>
<th>Sex</th>
<th>Status</th>
<th></th>
</tr>
</thead>
<tbody>
{% for sample in group_samples %}
<tr>	
	<td>{{sample.id}}</td>
	<td>{{sample.university}}</td>
	
	<td>{{sample.patient.patient_dob}}</td>
	<td>{{sample.date_of_sample_collection}}</td>
	<td>{{sample.patient.patient_sex}}</td>
	<td>{{sample.sample_status}}</td>
	<td><a href="/samples/{{sample.link}}">{{sample.link_text}}</a></td>
</tr>
{% endfor %}
</tbody>
</table> 
</div>
{% endif %}
</div>
</div>
<!--<div class="col-md-2">
</div>-->
{% else %}
    <div class="container">
<div class="row">
<!--<div class="col-md-2">
</div>-->
<div class="col-md-12">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current samples for {{ patient }}</div>
  <div class="panel-body">
    <p id="addbutton"><a href="{% url 'samples:create-patient' %}">
						<button type="button" class="btn btn-success">Add Patient <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
					  <a href="{% url 'samples:add' patient.id%}">
						<button type="button" class="btn btn-primary">Add Sample <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
     </p>
  </div>
  </div>
  </div>
{% endif %}
{% endblock %} 
