{% extends "samples/base.html" %}
{% load static %}
{% load notifications_tags %}
{% if 'patients' in request.path %}
{% block homeBlock %}
    <li>
{% endblock %}
{% block dataBlock %}
    <li class="dropdown active">
{% endblock %}
{% endif %}

{% block headContent %}
    <link rel="stylesheet" type="text/css" href = "{% static 'samples/style.css'%} " />
{% endblock %}

{% block content %}
{% if group_samples %}
<div class="container">
<div class="row">
<!--<div class="col-md-2">
</div>-->
<div class="col-md-12">
<div class="panel panel-default">
  <!-- Default panel contents -->
  {% if 'patients' in request.path %}
  <div class="panel-heading">Patient: {{ patient }}</div>
  {% elif 'pendingsamples' in request.path %}
  <div class="panel-heading">Samples ready for resulting</div>
  {% else %}
  <div class="panel-heading">Current samples for {{user.username}}</div>
  {% endif %}
  <div class="panel-body">
{% if 'pendingsamples' not in request.path %}
	<a href="{% url 'samples:patientshome' %}" id="returntopatients">Return to Patients Listing</a>
	<p id="addbutton"><a href="{% url 'samples:create-patient' %}">
						<button type="button" class="btn btn-success">Add Patient <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
					  <a href="{% url 'samples:create-biopsy' patient.id%}">
						<button type="button" id="biopsybutton">Add Biopsy <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
					  <a href="{% url 'samples:add' patient.id%}">
						<button type="button" id="samplebutton">Add Sample <span class="glyphicon glyphicon-plus"></span>
					  </button></a>
     </p>

  </div>

<div class="row">
	<div class="col-md-12">
	<div class="table-responsive">
	<table class="table">
	<tr>
	<td class="tdcenter">Patient Last Name: </br> {{patient.last_name}}</td>
	<td class="tdcenter">Patient First Name: </br> {{patient.first_name}}</td>
	<td class="tdcenter">Patient DOB: </br>{{patient.patient_dob}}</td>
	<td class="tdcenter">Patient Sex:</br> {{patient.patient_sex}}</td>
	<td class="tdcenter">Age at Transplant:</br> {{patient.patient_dob|timesince:patient.transplant_date}}</td>
	<td class="tdcenter">Post-transplant year:</br> {{patient.transplant_date|timesince}} ago</td>
	
	</tr> 
	</table>
	</div>
	</div>
	</div>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Sample/Biopsy ID</th>
<th>Sample/Biopsy Collection Date</th>
<th>Creatinine Current</th>
<th>eGFR</th>
<th>CXCL10</th>
<th>CXCL9</th>
<th>VEGFA</th>
<th>CCL2</th>
<th>Status</th>
<th>Result/Injury Risk</th>
<th></th>
</tr>
</thead>
<tbody>
{% for sample in group_samples %}
<tr>	
	<td>{{sample.0}} {{sample.2}}</td>
	<td align="right">{{sample.1}}</td>
	<td align="right">{{sample.3}}</td><!--Creatinine Current-->
	<td align="right">{{sample.4}}</td><!--eGFR-->
	<td align="right">{{sample.5}}</td><!--CXCL10-->
	<td align="right">{{sample.6}}</td><!--CXCL9-->
	<td align="right">{{sample.7}}</td><!--VEGFA-->
	<td align="right">{{sample.8}}</td><!--eGFR-->
	
	<td>{{sample.9}}</td><!--status-->
	<td align="right">{{sample.10}}</td><!--biopsy result-->
	<td><a href="/samples/{{sample.11}}">{{sample.12}}</a></td>
</tr>	
{% endfor %}
</tbody>
</table> 
</div>
{% endif %}
{% if 'pendingsamples' in request.path %}
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Sample ID</th>
<th>Test Site</th>
<th>Sample DOB</th>
<th>Collection Date</th>
<th>Sex</th>
<th>Status</th>
<th></th>
</tr>
</thead>
<tbody>
	{% for sample in group_samples %}
	<tr>	
		<td>{{sample.id}}</td>
		<td>{{sample.university}}</td>
		
		<td>{{sample.patient.patient_dob}}</td>
		<td>{{sample.date_of_sample_collection}}</td>
		<td>{{sample.patient.patient_sex}}</td>
		<td>{{sample.sample_status}}</td>
		<td><a href="/samples/{{sample.link}}">{{sample.link_text}}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table> 
</div>
{% endif %}
</div>
</div>
{% endif %}


{% endblock %} 
